/* navigation */
html {
	font: 100%/1.15 sans-serif, Arial;
	line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
	}

.p {
	font: Arial;
	font-size: 14pt;
	}
.example1 {
	font: Arial;
	font-size: 18pt;
	text-align: center;
	margin-left: 50%
	}
	
	.about-the-designer {
		font-size: 12pt;
		margin-right: 15em;
		margin-bottom: 3em;
		}
	
	h2 {
	font: Arial;
	text-align: center;
	margin-left: 50%
	}
	
.regular {
	font: Arial;
	text-align: center;
	margin-left: 50%
	}
	
	.italic {
	font-style: italic;
	font: Arial;
	text-align: center;
	margin-left: 50%
	}
	
	
	.bold-italic {
	font-style: bold italic;
	font: Arial;
	text-align: center;
	margin-left: 50%
	}
	
	.bold {
	font-style: bold;
	font: Arial;
	text-align: center;
	margin-left: 50%
	}
	
.quote1 {
	font-style: italic;
	font: Arial, italic;
	margin-left: 50%
	}


body {
	font-family: Arial, sans-serif;
	margin: 2.5em;
	color: #fff;
	background-color: #000;
	}
	
	.back-to-top {
	font-family: Arial, sans-serif;
	color: #fff;
	background-color: #000;
	}
	
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}



nav ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
	}
	

/*	
nav li {
	padding-bottom: .5em;
	border-bottom: 1px dashed #ccc;
	margin=top: .5em;
	}
	
nav li:first-child {
	padding-top: .5em;
	border-top: 1px dashed #ccc;
	}
*/
nav a {
	color: #fff;
	text-decoration: none;
	
	}	
	
nav a:hover {
	color: #f90;
	}
/* breakpoints / layout changes / for wider screens */

@media (min-width: 48em) {


nav ul {
	/* text-align: center; */
	}

nav li {
	display: inline;
	margin-left: .5em;
	}
	
nav li:first-child {
	margin-left: 0;
	}















}